
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>登录</title>
    <script src="Scripts/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="/frame/layui/css/layui.css">
    <link rel="stylesheet" href="/frame/static/css/style.css">
    <link rel="icon" href="/frame/static/image/code.png">
</head>
<body class="login-body body">

    <div class="login-box">
        <form class="layui-form layui-form-pane" method="get" action="">
            <div class="layui-form-item">
                <h3>EHS管理系统 登录</h3>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">账号：</label>

                <div class="layui-input-inline">
                    <input type="text" name="account" class="layui-input" lay-verify="account" placeholder="账号"
                           autocomplete="on" maxlength="20" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密码：</label>

                <div class="layui-input-inline">
                    <input type="password" name="password" class="layui-input" lay-verify="password" placeholder="密码"
                           maxlength="20" />
                </div>
            </div>
            <div class="layui-form-item">
                <button type="reset" class="layui-btn layui-btn-danger btn-reset">重置</button>
                <button type="button" class="layui-btn btn-submit" lay-submit="" lay-filter="sub">立即登录</button>
            </div>
        </form>
    </div>

    <script type="text/javascript" src="/frame/layui/layui.js"></script>
    <script type="text/javascript">
    layui.use(['form', 'layer'], function () {

        // 操作对象
        var form = layui.form
                , layer = layui.layer
            , $ = layui.jquery;

        
        // 验证
        form.verify({
            account: function (value) {
                if (value == "") {
                    return "请输入用户名";
                }
            },
            password: function (value) {
                if (value == "") {
                    return "请输入密码";
                }
            }
        });

        // 提交监听
        form.on('submit(sub)', function (data) {
            
            if (data.field.account == "" || data.field.password == "") {
                layer.msg("请输入用户名或密码");
                return false;
            }
            layer.load();
            $.ajax({
                url: "https://gdtapi.gooceer.com/api/verify/gdt/getusid",
                contentType: "application/json",
                type: "post",
                data: JSON.stringify({
                    usname: data.field.account,
                    pwds: data.field.password
                }),
                success: function (res) {
                    layer.closeAll("loading");
                    if (res == 0) {
                        layer.msg("用户名或密码错误！", { icon: 2, time: 2000, shade: 0.5 });
                    } else {
                        //document.cookie = "usid=" + res;
                        
                        setTimeout(function () {
                            window.location.href = "/home/index?usid="+res;
                        },3000);
                        
                    }
                }
            });
            return false;
        });

        // you code ...
    })

    </script>
</body>
</html>
